html, body {
  height: 100%;
  margin: 0;
  cursor: url('../Images/Icons/Cursor.png') 16 16, auto;
}

/* Custom pointer for links and buttons */
a, button {
  cursor: url('../Images/Icons/Pointer.png') 16 16, pointer;
}
* {
  cursor: inherit;
}
a, button, input, label, select, textarea {
  cursor: url('../Images/Icons/Pointer.png') 16 16, pointer;
}
.btn {
  cursor: url('../Images/Icons/Pointer.png') 16 16, pointer;
}
